@import "../global.css";

body {
    background-image: url("../../img/app-background.png");
    background-size: cover;
}

.form {
    width: 35vw;
    min-width: 350px;
    gap: 10px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

#map { 
    height: 70vh;
    width: 50vw;
}

.leaflet-popup-content {
    margin: 0 !important;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: rgba(255, 255, 255, .8) !important;
    backdrop-filter: blur(2px);
}

.pokemon-in-map {
    width: 75px;
}